.status {
  height: 100%;
  width: 100%;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.status p, .status input {
  text-align: center;
  max-width: 600px;
  width: 90vw;
  display: block;
  margin: auto;
  padding: 0;
}

.status input { border: 1px solid #888; }
.status input[type='submit'] { cursor: pointer; background: #ddd; }
.status input + input { margin-top: 1em; }

@media screen and (min-width: 300px) { .status input, .status p { font-size: 3em; } }
@media screen and (min-width: 500px) { .status input, .status p { font-size: 4em; } }
@media screen and (min-width: 1050px) { .status input, .status p { font-size: 5em; } }