body {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin: 0;
}

div { width: 100%; }
.hidden { display: none; }

#form { max-width: 800px; margin: auto; }
input { text-align: center; font-size: 0.5em; width: 100%; }
input[type='text'] { border: 0; }
input[type='submit'] { padding: 0.5em; }

.button {
  text-align: center;
  width: 2em;
  cursor: pointer;
}

.button:hover, .button.bounce { margin: -0.25em 0 0.25em 0; }

.grid {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  line-height: 1.5em;
}

@media screen and (min-width: 300px) { body { font-size: 2.2em; } }
@media screen and (min-width: 350px) { body { font-size: 2.5em; } }
@media screen and (min-width: 400px) { body { font-size: 3em; } }
@media screen and (min-width: 470px) { body { font-size: 3.5em; } }
@media screen and (min-width: 550px) { body { font-size: 4em; } }
@media screen and (min-width: 630px) { body { font-size: 4.5em; } }
@media screen and (min-width: 710px) { body { font-size: 5em; } }
@media screen and (min-width: 790px) { body { font-size: 5.5em; } }
@media screen and (min-width: 870px) { body { font-size: 6em; } }
@media screen and (min-width: 950px) { body { font-size: 4.5em; } }
@media screen and (min-width: 1050px) { body { font-size: 5.5em; } }
@media screen and (min-width: 1150px) { body { font-size: 6em; } }
@media screen and (min-width: 1250px) { body { font-size: 6.5em; } }
@media screen and (min-width: 1350px) { body { font-size: 7em; } }
@media screen and (min-width: 1500px) { body { font-size: 7.5em; } }
@media screen and (min-width: 1650px) { body { font-size: 8em; } }
@media screen and (min-width: 1790px) { body { font-size: 8.5em; } }
@media screen and (min-width: 1850px) { body { font-size: 9.5em; } }